<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/mycustomcss.css" rel="stylesheet">

    <style type="text/css">
      body
      {
background-image: url(assets/img/bedge_grunge_@2X.png);
}
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>
    <div id="navigation">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="ovals" accesskey="1">OvalSkiClub</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="About Us.html" accesskey="2">About Us</a></li>
              <li><a href="Racing Team.html" accesskey="3">Racing Team</a></li>
              <li><a href="FAQ.html" accesskey="4">FAQ</a></li>
              <li><a href="Contact Us.html" accesskey="5">Contact Us</a></li>
              <li><a href="Access Keys.html" accesskey="6">Access Keys</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" accesskey="7">Join In <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="Club Sessions.html" accesskey="8">Club Sessions</a></li>
                  <li><a href="Social Activities.html" accesskey="9">Social Activities</a></li>
                  <li><a href="Club Holidays.html" accesskey="0">Club Holidays</a></li>
                  <a href="#skip" accesskey="s"></a> 
                  <a name="skip"></a>
                </div>
            </ul>
            </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <a href="Index.html" class="btn">Sign In</a>
            </form>
      </div>
    </div>
    </div>
    </div>
    <center>
    <img src="assets/img/weather.jpg" title="5 Day Weather Forecast">
    <div class="container">
    </center>
    <center>
    <img src="assets/img/headerImage9.jpg" title="Picture taken from the club holiday in 2011">
    <div class="container">
    </center>
<hr>
    <div class="container">
      <div class="hero-unit">
        <h2>About what we do</h2>
        We are all volunteers and involved in the Oval Ski Club because of our interest in the sport.
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>The ski club team</h3>

        The club has an elected committee and several qualified instructors. However, we also require additional helpers to help the club become a success.<br>
        <br>
        If you are interested in helping out with the club on either a Saturday morning or Sunday evening, then please <a href="Contact Us.html">contact</a> one of the committee members or instructors (see below).
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>Where are we based?</h3>

        The Oval Sports Centre, Bebington, Wirral (Opposite Bebington Train Station).See <a href="Contact Us.html">Contact Us</a> page for more details.
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>Our committee</h3>
        <table class="table">  
        <thead>  
          <tr>  
            <th>Company Role</th>  
            <th>Name</th>  
          </tr>  
        </thead>  
        <tbody>  
          <tr>  
            <td>President</td>  
            <td>John Croft</td>  
            </tr>  
          <tr>  
            <td>Chairman</td>  
            <td>John Wahlers</td>  
            </tr>  
          <tr>  
            <td>Vice Chairman</td>  
            <td>Andrew Kearney (PD)</td> 
            </tr>  
          <tr>  
            <td>Secretary</td>  
            <td>Lorna McCarthy</td>  
            </tr>  
          <tr>  
            <td>Treasurer</td>  
            <td>Mark Croft</td>  
            </tr>  
          <tr>  
            <td>Race Secretary</td>  
            <td>Tony McClave</td>  
            </tr>  
          <tr>  
            <td>Social Secretary</td>  
            <td>Jane Croft</td>  
            </tr>  
          <tr>  
            <td>Training Officer</td>  
            <td>Nick Spearpoint</td>  
            </tr>  
          <tr>  
            <td>Junior Rep</td>  
            <td>Tbc</td>
            </tr>  
          <tr>  
            <td>Child Protection Officer</td>  
            <td>Mel Wahlers</td>  
            </tr>  
          <tr>  
            <td>Vice Chairman</td>  
            <td>Andrew Kearney (PD)</td>  
            </tr>  
          <tr>  
            <td>Committee Member</td>  
            <td>Jenny Montague (PD)</td>  
            </tr>  
          <tr>  
            <td>Committee Member</td>  
            <td>Robert Coull (Bob)</td>  
            </tr>  
          <tr>  
            <td>Committee Member</td>  
            <td>Nissa Coull</td>  
            </tr>  
          <tr>  
            <td>Committee Member</td>  
            <td>Philippa Watts</td>  
            </tr>  
          <tr>  
            <td>Committee Member</td>  
            <td>Ken Needham</td>  
            </tr>  
        </tbody>  
      </table>  
</body>



      <div class="container">
      <div class="hero-unit">
        <h3>Our Instructors</h3>
        <table class="table">  
        <thead>  
          <tr>  
            <th>Name</th>  
          </tr>  
        </thead>  
        <tbody>  
          <tr>  
            <td>Philippa Watts</td>  
            </tr>
          <tr>
            <td>Andrew Kearney (PD)</td>  
            </tr>  
          <tr>
            <td>Andrew Dawson (Andy)</td>  
            </tr>
          <tr> 
            <td>Dave Sejrup</td>  
            </tr>
          <tr>  
            <td>John Rogers</td>  
            </tr>
          <tr>  
            <td>John Wahlers</td>  
            </tr>
          <tr>  
            <td>Mel Wahlers</td>  
            </tr>
          <tr>
            <td>Bob Coull</td>  
            </tr>
          <tr>
            <td>Nissa Coull</td>  
            </tr>
          <tr>  
            <td>Tony McClave</td>  
          </tr>
          <tr>  
            <td>Nick Spearpoint</td>  
          </tr>
          <tr>  
            <td>Barry Forrester</td>  
          </tr>  
        </tbody>  
      </table>  
</body> 
      <hr>
      <footer>
        <p>&copy; Oval Ski Club 2012 &nbsp<i class="icon-thumbs-up"></i><a href="http://www.facebook.com/group.php?gid=2256597544">Like us on Facebook</a></p>
      </footer>

    </div>

    <script text/javascript src="assets/js/jquery-1.8.2.min.js"></script>
    <script text/javascript src="assets/js/bootstrap.min.js"></script>

  </body>
</html>