<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Access Keys</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/mycustomcss.css" rel="stylesheet">

    <style type="text/css">
      body
      {
background-image: url(assets/img/bedge_grunge_@2X.png);
}
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>
    <div id="navigation">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="Index.html" accesskey="1">OvalSkiClub</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="About Us.html" accesskey="2">About Us</a></li>
              <li><a href="Racing Team.html" accesskey="3">Racing Team</a></li>
              <li><a href="FAQ.html" accesskey="4">FAQ</a></li>
              <li><a href="Contact Us.html" accesskey="5">Contact Us</a></li>
              <li><a href="Access Keys.html" accesskey="6">Access Keys</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" accesskey="7">Join In <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="Club Sessions.html" accesskey="8">Club Sessions</a></li>
                  <li><a href="Social Activities.html" accesskey="9">Social Activities</a></li>
                  <li><a href="Club Holidays.html" accesskey="0">Club Holidays</a></li>
                  <a href="#skip" accesskey="s"></a> 
                  <a name="skip"></a>
                </div>
            </ul>
            </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <a href="Index.html" class="btn">Sign In</a>
            </form>
            </div>
        </div>
      </div>
    </div>
    <center>
    <img src="assets/img/weather.jpg" title="5 Day Weather Forecast">
    <div class="container">
    </center>
    <center>
    <div class="container">
    <img src="assets/img/headerImage7.jpg" title="Picture taken from the club holiday in 2011">
    </center>
      </div>
      </div>
      </div>
</div>
<hr>

      <div class="container">
      <div class="hero-unit">
        <h2>Access Key Shortcuts</h2>
        <p>A list of access key shortcuts are provided below to aid with keyboard navigation of this website:</p>
        ALT + 1 = Navigate to Homepage<br>
        ALT + 2 = Navigate to About Us webpage<br>
        ALT + 3 = Navigate to Racing Team webpage<br>
        ALT + 4 = Navigate to FAQ webpage<br>
        ALT + 5 = Navigate to Contact Us webpage<br>
        ALT + 6 = Navigate to Access keys webpage<br>
        ALT + 7 = Navigate to Join In dropdown menu<br>
        ALT + 8 = Navigate to Club sessions<br>
        ALT + 9 = Navigate to Social activities<br>
        ALT + 0 = Navigate to Club Holidays<br>
        <br>
        Once you have selected a specific webpage using access keys, ensure you press the 'Enter' key to navigate to that page.
      </div>
      <hr>
      <footer>
        <p>&copy; Oval Ski Club 2012 &nbsp<i class="icon-thumbs-up"></i><a href="http://www.facebook.com/group.php?gid=2256597544">Like us on Facebook</a></p>
      </footer>

    </div>

    <script text/javascript src="assets/js/jquery-1.8.2.min.js"></script>
    <script text/javascript src="assets/js/bootstrap.min.js"></script>

  </body>
</html>
