<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Contact Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/mycustomcss.css" rel="stylesheet">

    <style type="text/css">
      body
      {
background-image: url(assets/img/bedge_grunge_@2X.png);
}
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>
    <div id="navigation">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="Index.html" accesskey="1">OvalSkiClub</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="About Us.html" accesskey="2">About Us</a></li>
              <li><a href="Racing Team.html" accesskey="3">Racing Team</a></li>
              <li><a href="FAQ.html" accesskey="4">FAQ</a></li>
              <li><a href="Contact Us.html" accesskey="5">Contact Us</a></li>
              <li><a href="Access Keys.html" accesskey="6">Access Keys</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" accesskey="7">Join In <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="Club Sessions.html" accesskey="8">Club Sessions</a></li>
                  <li><a href="Social Activities.html" accesskey="9">Social Activities</a></li>
                  <li><a href="Club Holidays.html" accesskey="0">Club Holidays</a></li>
                  <a href="#skip" accesskey="s"></a> 
                  <a name="skip"></a>
                </div>
            </ul>
            </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <a href="Index.html" class="btn">Sign In</a>
            </form>
    </div>
    </div>
    </div>
    </div>
    <center>
    <img src="assets/img/weather.jpg" title="5 Day Weather Forecast">
    <div class="container">
    </center>
    <center>
    <img src="assets/img/headerImage8.jpg" title="A snap from the club holiday in 2009"/>
    <div class="container">
    </center>
<hr>
    <div class="container">
      <div class="hero-unit">
        <h2>Get in touch with us</h2>
        If you have a question and haven't found a solution on our <a href="FAQ.html">FAQ</a> page, you can get in touch with us by the following methods:
        <br>
        <h3>By email</h3>
        
        If you have a question for us, please send an email and we will deal with your query as soon as possible.<br>
        <br>
        All enquiries : SkiEnquiries@OvalSkiClub.com
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>By phone</h3>

        John Wahlers (Chairman) - 0151 645 2452<br>
        Belinda Dawson (Secretary) - 0151 342 9756<br>
        Tony McClave (Race Secretary) - To be announced
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>By post</h3>

        You can also write to us with any query you have.<br>
        <br>
        Our address is:<br>
        <br>
        Oval Ski Club<br>
        Oval Sports Centre<br>
        Bebington<br>
        Wirral<br>
        Liverpool<br>
        Merseyside<br>
        CH63 7LF
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>By visiting us</h3>

        We are at the ski hut located towards the rear of the Oval Sports Centre, Bebington, Wirral, Merseyside. Please ask at the sports centre reception if you can’t find us.<br>
        <br>
        We are open Saturday Mornings and Sunday Evenings throughout the skiing season (see the <a href="Club Sessions.html">Club Sessions</a> page for more information).</p>
      </div>
      <hr>

      <footer>
        <p>&copy; Oval Ski Club 2012 &nbsp<i class="icon-thumbs-up"></i><a href="http://www.facebook.com/group.php?gid=2256597544">Like us on Facebook</a></p>
      </footer>

    </div>

    <script text/javascript src="assets/js/jquery-1.8.2.min.js"></script>
    <script text/javascript src="assets/js/bootstrap.min.js"></script>

  </body>
</html>
