<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FAQ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/mycustomcss.css" rel="stylesheet">

    <style type="text/css">
      body
      {
background-image: url(assets/img/bedge_grunge_@2X.png);
}
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>
    <div id="navigation">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="Index.html" accesskey="1">OvalSkiClub</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="About Us.html" accesskey="2">About Us</a></li>
              <li><a href="Racing Team.html" accesskey="3">Racing Team</a></li>
              <li><a href="FAQ.html" accesskey="4">FAQ</a></li>
              <li><a href="Contact Us.html" accesskey="5">Contact Us</a></li>
              <li><a href="Access Keys.html" accesskey="6">Access Keys</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" accesskey="7">Join In <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="Club Sessions.html" accesskey="8">Club Sessions</a></li>
                  <li><a href="Social Activities.html" accesskey="9">Social Activities</a></li>
                  <li><a href="Club Holidays.html" accesskey="0">Club Holidays</a></li>
                  <a href="#skip" accesskey="s"></a> 
                  <a name="skip"></a>
                </div>
            </ul>
            </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <a href="Index.html" class="btn">Sign In</a>
            </form>
      </div>
    </div>
    </div>
    </div>
    <center>
    <img src="assets/img/weather.jpg" title="5 Day Weather Forecast">
    <div class="container">
    </center>
    <center>
    <img src="assets/img/headerImage4.jpg" title="A picture from our club holiday in 2007"/>
    <div class="container">
    </center>
    <hr>
    <div class="container">
      <div class="hero-unit">
        <h2>Frequently Asked Questions</h2>
        Below are some of the common questions we have been asked by members and non-members. If you have a question for us and it is not listed below, then please get in touch. (see the <a href="Contact Us.html">Contact Us</a> page for more information).<br>
        <br>

        <h3>Where are you located?</h3>
        We are based at the Oval Sports Centre in Bebington. Visit the <a href="Contact Us.html">Contact Us</a> page for more details on how to get there.
      </div>

     <div class="container">
      <div class="hero-unit">
        <h3>When are you open?</h3>
        From September – June (May for the adults). For juniors on a Saturday morning between 10.00am and 1.00pm (10.00am for 5+ to under 11’s and 11.30am for 11+). For adults on a Sunday evening 5.00pm – 8.00pm. See the <a href="Club Sessions.html">Club Sessions</a> page for more details.
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>How much does it cost to ski?</h3>
        The cost is £5.00 per session. However, if you use your own skiing equipment, we offer a discounted price of £2.00. An annual membership is also required in order to ski and you can join the first time you ski at the club – see the <a href="Club Sessions.html">Club Sessions</a> page for more details.
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>Do you provide skis and boots for hire?</h3>
        Yes, we have a full range of carver skis and boots for use, which is included in the price.
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>Can I ski with my kids?</h3>
        We provide family ski sessions, about once a month during the Sunday evening session. All skiers must be able to turn and stop safely in order to ski during these sessions. The dates are advertised in the ski hut on the notice board. However, there will be no instruction during these sessions.
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>Can I race for the ski club?</h3>
        Yes! – We organize teams for the Summer race league at Stoke, for all age categories, during the winter at Pendle, for juniors and Sheffield for all age categories. This provides a great way to have fun whilst improving your skiing skills. See our <a href="Racing Team.html">Racing Team</a> page for more details.
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>Can I get more involved in the club?</h3>
        Yes – We are always on the look out for volunteers to help behind the desk, for social activites and to become skiing instructors. Full training on binding fitting will be provided to all helpers and training will be given to become a qualified skiing instructor.
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>Do you offer boarding lessons?</h3>
        Unfortunately, we no longer provide snowboarding lessons as we don’t have any qualified instructors. The nearest slope to provide snowboarding lessons is Runcorn Ski Centre.
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>What happens after the block of 3 beginners lessons?</h3>
        You can continue to ski at the club for as long as you want. For instruction you will be moved to one of the intermediate groups and then racing level.
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>Why do you need to know my weight?</h3>
        We need to know your weight so the ski bindings can be set correctly. We do have scales at the club but it will save time if you have this information readily available.
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>How early do I need to arrive?</h3>
        Please arrive at least 15 minutes before your lesson time. This gives you plenty of time to get your skis and boots sorted out, and discuss any issues you may have with the instructors.
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>What do I need to wear?</h3>
        You need to wear gloves and long socks (if you haven’t got ski socks then a pair of football socks will do in the short term). Also your arms need to be covered. We provide lessons in all weather so be prepared to be out in the cold and wet!
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>How can I pay?</h3>
        There is no need to pay in advance. You can pay when you attend for your first session. Payment can only be by cash or cheque (no electronic payment methods are currently available)
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>Do I need to register for one of your beginner courses?</h3>
        Currently, we don’t require registration at the moment as we have always been able to cope with the demand. This is always under review and may change if too many people start turning up.
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>How can I learn to ski?</h3>
        We welcome skiers of all levels to join our club. If you are a complete beginner then we run lessons, in blocks of three weeks, during the ski season that you are welcome to attend once you have joined the club. Check the <a href="Club Sessions.html">Club Sessions</a> page for details of the next start date. You may want to arrive 10-15 minutes early to get your skis and boots sorted out.
      </div>

      <hr>

      <footer>
        <p>&copy; Oval Ski Club 2012 &nbsp<i class="icon-thumbs-up"></i><a href="http://www.facebook.com/group.php?gid=2256597544">Like us on Facebook</a></p>
      </footer>

    </div>

    <script text/javascript src="assets/js/jquery-1.8.2.min.js"></script>
    <script text/javascript src="assets/js/bootstrap.min.js"></script>

  </body>
</html>
