<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Racing Team</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/mycustomcss.css" rel="stylesheet">

    <style type="text/css">
      body
      {
background-image: url(assets/img/bedge_grunge_@2X.png);
}    
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>
    <div id="navigation">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="Index.html" accesskey="1">OvalSkiClub</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="About Us.html" accesskey="2">About Us</a></li>
              <li><a href="Racing Team.html" accesskey="3">Racing Team</a></li>
              <li><a href="FAQ.html" accesskey="4">FAQ</a></li>
              <li><a href="Contact Us.html" accesskey="5">Contact Us</a></li>
              <li><a href="Access Keys.html" accesskey="6">Access Keys</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" accesskey="7">Join In <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="Club Sessions.html" accesskey="8">Club Sessions</a></li>
                  <li><a href="Social Activities.html" accesskey="9">Social Activities</a></li>
                  <li><a href="Club Holidays.html" accesskey="0">Club Holidays</a></li>
                  <a href="#skip" accesskey="s"></a> 
                  <a name="skip"></a>
                </div>
            </ul>
            </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <a href="Index.html" class="btn">Sign In</a>
            </form>
      </div>
      </div>
      </div>
    </div>
    <center>
    <img src="assets/img/weather.jpg" title="5 Day Weather Forecast">
    <div class="container">
    </center>
    <center>
    <img src="assets/img/headerImage10.jpg" title="A picture of the accommodation we stayed in during our 2009 skiing club holiday"/>
    </center>
    <div class="container">
    </center>
<hr>
    <div class="container">
      <div class="hero-unit">
        <h2>Oval Ski Club Racing Team</h2>

        Tony McClave, our race secretary works tirelessly behind the scenes to make the winter and summer racing possible. Tony can be seen down at the club for more information.
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>The races we enter</h3>

        We have members who race in the National league at various ski slopes across the country. We also organise teams to race at Stoke (in the summer), Sheffield (in the winter) and Pendle (also in the winter). Details for these local races can be found below.
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>Frostbite 7 (Sheffield - Run by Sharks Ski Club)</h3>

        "Fun racing in a friendly enviroment. All Skiers welcome, including parents."<br>
        <br>
        A new Frostbite series is nearly upon us so it's time to put the dates in the diary and get your entries in:<br>
        <br>
        Saturday 15th October 2011<br>
        Saturday 12th November 2011<br>
        Saturday 10th December 2011<br>
        Saturday 14th January 2012<br>
        Saturday 17th March 2012<br>
        <br>
        Cost: £12 per race (£15 if entry received on the Friday before the race or on race day.) We are offering online entry applications this year and this is our preferred method so please try to use it!<br>
        <br>
        You will be able to pay via paypal or credit/debit card. You can sign up for one race at a time or all 5 in one go, or any combination in between.
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>Pendle Winter Race League 2011-2012</h3>

        Yes it's that time of year again. We are again inviting entries to our Winter Race League held on the 1st Saturday of October, November, December, February and March. All club members are welcome to join!<br> 
        <br>
        The dates of these events are as follows:<br>
        <br>
        Saturday October 1st 2011<br>
        Saturday November 5th 2011<br>
        Saturday December 3rd 2011<br>
        Saturday February 4th 2012<br>
        Saturday March 3rd 2012<br>
        <br>
        After downloading the entry form you should email entries to pendleskiraces@live.co.uk and then read the league introduction and rules.<br>
        <br>
        Race details in summary:<br>
        <br>
        Cost - £8 per racer per race. £3 for ski and/or boot hire.<br>
        <br> 
        NOTE the skis we hire are recreational skis not race skis.<br>
        <br> 
        Teams are done in 3's or 4's and skiers need to be able to competently ski from the top of our slope and get round gates.This race is designed as an introduction to racing.<br> 
        <br>
        Age categories:<br>
        <br>
        Under 10 (born after October 1st 2001)<br>
        Under 13 (born after October 1st 1998)<br>
        Under 19 (born after October 1st 1992)<br>
        Over 19's<br>
        <br>
        You may ski up an age category but not down e.g. a 12 year old could ski in the U19s. Teams can be all girls, all boys or mixed. Each team needs a team captain who will whear the bib for their team and be responsible for getting their team to the start ready for their race. The teams do not need to have the same racers in each month but the team name will stay the same.<br>
        <br>
        A club can have as many teams as they want and we appreciate some teams may not race every month.<br>
        <br>
        The race office opens at 8am so ensure that you collect team bibs and rented kit after you have paid. Open practice lasts from 8.15 to 9.10am. Racing begins at 9.20am and finishes before 12 noon (we have to clear the slope for 12pm as there are lessons on)<br>
        <br>
        Each team will have 6 races against other teams in their age category. 4 points are gained for a win and 2 points for completing the course successfully. So if a team of 4 races a team of 3, the 4th racer must complete the course.<br>
        <br>
        Medals awarded to the first 3 teams in each age category on each race day. Overall the best 4 results count towards the perpetual shields awarded in March.<br>
        <br>
        Entries MUST be in by midnight the Thursday before the race. If a team subsequently pulls out then the planned race will go ahead, the remaining team must complete the course to win.<br>
        <br>
        The BBQ will be running as usual as well as the snack bar for drinks and sweets.</p>
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>Do you want to race?</h3>

        All members of the ski club are eligible to race. It's a great way to improve your skiing so if you are interested in racing then <a href="Contact Us.html">contact</a> Tony McClave, or any member of the team, who will provide you with the information you need.
      </div>

      <hr>

      <footer>
        <p>&copy; Oval Ski Club 2012 &nbsp<i class="icon-thumbs-up"></i><a href="http://www.facebook.com/group.php?gid=2256597544">Like us on Facebook</a></p>
      </footer>

    </div>

    <script text/javascript src="assets/js/jquery-1.8.2.min.js"></script>
    <script text/javascript src="assets/js/bootstrap.min.js"></script>

  </body>
</html>
