<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Club Sessions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/mycustomcss.css" rel="stylesheet">

    <style type="text/css">
      body
      {
background-image: url(assets/img/bedge_grunge_@2X.png);
}
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>
    <div id="navigation">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="Index.html" accesskey="1">OvalSkiClub</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="About Us.html" accesskey="2">About Us</a></li>
              <li><a href="Racing Team.html" accesskey="3">Racing Team</a></li>
              <li><a href="FAQ.html" accesskey="4">FAQ</a></li>
              <li><a href="Contact Us.html" accesskey="5">Contact Us</a></li>
              <li><a href="Access Keys.html" accesskey="6">Access Keys</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" accesskey="7">Join In <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="Club Sessions.html" accesskey="8">Club Sessions</a></li>
                  <li><a href="Social Activities.html" accesskey="9">Social Activities</a></li>
                  <li><a href="Club Holidays.html" accesskey="0">Club Holidays</a></li>
                  <a href="#skip" accesskey="s"></a> 
                  <a name="skip"></a>
                </div>
            </ul>
            </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <a href="Index.html" class="btn">Sign In</a>
            </form>
          </div>
        </div>
      </div>
    </div>
    <center>
    <img src="assets/img/weather.jpg" title="5 Day Weather Forecast">
    <div class="container">
    </center>
    <center>
    <img src="assets/img/headerImage12.jpg" title="A chalet we stayed in during one of the skiing races we took part in earlier this year"/>
    <div class="container">
    </center>
<hr>
    <div class="container">
      <div class="hero-unit">
        <h2>Club Sessions</h2>

        The club holds sessions for both Juniors and Adults and covers the full spectrum of ability, from first timers to seasoned racers. Everyone is welcome to join the club to ski. If you are a beginner then please check the <a href="Index.html">Diary</a> for the start date of the next set of beginners lessons.<br>
        <br>
        As we are a members only club everyone must join prior to skiing (see costs below). This only takes a few minutes and can be done at your first visit. <br>
        <br>
        Please remember that we are a voluntary, non-profit making organisation, so all money raised through membership is used for equipment, instructor training etc so everyone benefits. You will also receive discounts from various local sports shops.<br>
        <br>

        <h3>Annual Membership Fees</h3>
        
        Junior Membership: £7.00 <br>
        Senior Membership: £15.00<br>
        Family Membership: £30.00<br>
        <br>
        Joining is simple, just go down to the ski hut during session hours and speak to any one of the committee members or helpers. You can also get in touch by our <a href="Contact Us.html">Contact Us</a> page.<br>
        <br>
        (Membership requires renewal at the start of each season in September) 
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>Junior Club (5+ to under 18 's) - Saturday morning 10.00am - 1.00pm</h3>

        10.00am - 11.00am (5+ to under 11's)<br>
        11.30am - 1.00pm (11+) Cost: £5.00 per session (£2.00 if you use your own equipment)<br>

      <div class="container">
      <div class="hero-unit">
        <h3>Adult Club - Sunday evening 5.00pm - 8.00pm</h3>

        5.00pm - 6.00pm (Beginners)<br>
        6.00pm - 7.00pm (Open skiing session)<br>
        7.00pm - 8.00pm (Improvers/advanced lesson) <br>
        <br>
        Occasionally we run family sessions so adults and kids can ski together. All skiers must be able to turn and stop safely to ski during these sessions. The dates will be advertised in the ski hut on the notice board and frequency will depend on demand.<br>
        <br>
        Note that during these sessions there will be no instruction.<br>
        <br>
        Cost: £5.00 per session (£2.00 if you use your own equipment)</p>
      </div>

      <div class="container">
      <div class="hero-unit">
        <h3>Never skied before? Don't let this stop you joining the club!</h3>

        We provide lessons throughout the season to all of our club members including those who have never skied before. For beginners these blocks of lessons start approximately every three weeks - see the list below for starting dates. So if you are new to skiing and interested in joining the club then just turn up early on the starting date to enrol.<br>
        <br>
        See the <a href="FAQ.html">FAQ</a> page for more information.<br>
        <br>

        Listed below are upcoming skiing lessons for beginners at Oval Ski Club:<br>
        <br>
          - Saturday 13/10/2012 - 10:00am-11:00am (Juniors under 11)<br>
          - Saturday 13/10/2012 - 11:30am-1:00pm  (Juniors 11 - 18)<br>
          - Sunday   14/10/2012 - 5:00pm-6:00pm (Adults)<br>
          - Saturday 03/11/2012 - 10:00am-11:00am (Juniors under 11)<br>
          - Saturday 03/11/2012 - 11:30am-1:00pm  (Juniors 11 - 18)<br>
          - Sunday   04/11/2012 - 5:00pm-6:00pm (Adults)<br>
          - Saturday 24/11/2012 - 10:00am-11:00am (Juniors under 11)<br>
          - Saturday 24/11/2012 - 11:30am-1:00pm  (Juniors 11 - 18)<br>
          - Sunday   25/11/2012 - 5:00pm-6:00pm (Adults)<br>
 
        </p>
      </div>

      <hr>

      <footer>
        <p>&copy; Oval Ski Club 2012 &nbsp<i class="icon-thumbs-up"></i><a href="http://www.facebook.com/group.php?gid=2256597544">Like us on Facebook</a></p>
      </footer>

    </div>

    <script text/javascript src="assets/js/jquery-1.8.2.min.js"></script>
    <script text/javascript src="assets/js/bootstrap.min.js"></script>

  </body>
</html>
