<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Social Activities</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/mycustomcss.css" rel="stylesheet">

    <style type="text/css">
      body
      {
background-image: url(assets/img/bedge_grunge_@2X.png);
}
    </style>
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>
    <div id="navigation">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="Index.html" accesskey="1">OvalSkiClub</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="About Us.html" accesskey="2">About Us</a></li>
              <li><a href="Racing Team.html" accesskey="3">Racing Team</a></li>
              <li><a href="FAQ.html" accesskey="4">FAQ</a></li>
              <li><a href="Contact Us.html" accesskey="5">Contact Us</a></li>
              <li><a href="Access Keys.html" accesskey="6">Access Keys</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" accesskey="7">Join In <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="Club Sessions.html" accesskey="8">Club Sessions</a></li>
                  <li><a href="Social Activities.html" accesskey="9">Social Activities</a></li>
                  <li><a href="Club Holidays.html" accesskey="0">Club Holidays</a></li>
                  <a href="#skip" accesskey="s"></a> 
                  <a name="skip"></a>
                </div>
            </ul>
            </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <a href="Index.html" class="btn">Sign In</a>
            </form>
    </div>
    </div>
    </div>
    </div>
    <center>
    <img src="assets/img/weather.jpg" title="5 Day Weather Forecast">
    <div class="container">
    </center>
    <center>
    <img src="assets/img/headerImage11.jpg" title="A picture taken during our club holiday in 2010"/>
    <div class="container">
      </center>
<hr>
    <div class="container">
      <div class="hero-unit">
        <h2>Socialise with us!</h2>

        Listed below are some of the upcoming social events:<br>
        <br>
        <h4>Walk to Hilbre Island - Sat 14th July, 1.30pm, Starting at Dee Lane Slipway, West Kirby (near Morrison's car park)</h4>
        
        The walk to Hilbre Island is 2 miles each way and we will be crossing over at low tide however sensible clothing and footwear is recommended. Everybody is welcome to join us, including non-members.
      </div>

      <div class="container">
      <div class="hero-unit">
        <h4>Club AGM, Oval Sports Centre - Sunday 15th July, at 5.00pm</h4>

        Would you like your say on how your ski club is run; do you have any suggestions or questions relating to the skiing sessions, training, teaching, holidays, racing or social events that you would like to share with us? Well this is your big chance. The Oval Ski Club's annual general meeting is taking place on the 15th July at the Oval Sports Centre Meeting room (within the sports centre) at 5pm.<br>
        <br>
        If that was not incentive enough, the club will also be providing free refreshments! (drinks and snacks). <br>
        <br>
        Remember the club is run entirely by volunteers without whom none of the above activities would take place. Further volunteers at Oval Ski Club are very much in demand, so if you can spare a few hours making drinks on a Saturday morning or would like to be Chairman (or any of the jobs in between) - feel free to express your interest and get in touch with us via the <a href="Contact Us.html">Contact Us</a> webpage.<br> 
        <br>
        All committee posts will be up for election. If you interested in attending or would like more information please <a href="Contact Us.html">contact</a> Jane by either phone or email (details at the top of the page).
      </div>

      <div class="container">
      <div class="hero-unit">
        <h4>Get in touch</h4>
      If you wish to attend any of the events listed above or want further information, you can <a href="Contact Us.html">contact</a> our social secretary Jane Croft by phone on either 0151 608 4575 or 07963 906979. You can also get in touch with Jane via email at jane.croft1@ntlworld.com

      <hr>

      <footer>
        <p>&copy; Oval Ski Club 2012 &nbsp<i class="icon-thumbs-up"></i><a href="http://www.facebook.com/group.php?gid=2256597544">Like us on Facebook</a></p>
      </footer>

    </div>

    <script text/javascript src="assets/js/jquery-1.8.2.min.js"></script>
    <script text/javascript src="assets/js/bootstrap.min.js"></script>

  </body>
</html>
